<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
      $(document).ready(function() {
        $('#datatable').dataTable();
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted pull-right">via Last.fm</h3>
        <h2 class="text-muted">{{name}}'s Last {{num_songs}} Played</h2>
      </div>

      <h3>Tempo Flow</h3>
      <div id="chart1" style="height:250px;"></div>
      <table class="table table-striped table-bordered table-hover" id="datatable">
        <thead>
          <tr>
            <th>Image</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Tempo</th>
            <th>Listened</th>
          </tr>
        </thead>
        <tbody>
        {% for song in songs1 %}
          <tr>
            <td><img src="{{ song[5] }}"/></td>
            <td>{{ song[1] }}</td>
            <td>{{ song[2] }}</td>
            <td>{{ song[3] }}</td>
            <td>{{ song[4] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <h3>Tempo Distribution</h3>
      <div id="chart2" style="height:250px;"></div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Tempo</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
        {% for song in songs2 %}
          <tr>
            <td>{{ song[0] }}</td>
            <td>{{ song[1] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <script>
        new Morris.Line({
          // ID of the element in which to draw the chart.
          element: 'chart1',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: [
            {% for song in songs1 %}
              { listened: '{{ song[4] }}', value: {{ song[3] }}},
            {% endfor %}
          ],
          // The name of the data record attribute that contains x-values.
          xkey: 'listened',
          // A list of names of data record attributes that contain y-values.
          ykeys: ['value'],
          // Labels for the ykeys -- will be displayed when you hover over the
          // chart.
          labels: ['BPM']
        });

        new Morris.Bar({
          element: 'chart2',
          data: [
            {% for song in songs2 %}
              { y: '{{ song[0] }}', a: {{ song[1] }}},
            {% endfor %}
          ],
          xkey: 'y',
          ykeys: ['a'],
          labels: ['Count']
        });
      </script>

    </div>
  </body>
</html>
